
    #trip-search-page input.form-submit {
       margin-bottom: 1em;
    }
    .trip-search-excerpt {
      font-weight: bold;
    }
    table.trip-search-fields {
      font-family: tahoma, verdana, arial, sans-serif;
      font-weight: normal;
      font-size: 0.9em;
    }
    table.trip-search-fields tr.odd, table.trip-search-fields tr.even {
      background-color: #FFFFFF;
    }

